[Unit]
Description=orca_auto runtime stack for %i
Wants=orca_auto-engine-workers@%i.target
After=local-fs.target
After=network-online.target

[Install]
WantedBy=multi-user.target
